.account-header {
    align-self: left;
    border-bottom: none;
}

.account-wrapper {
    display: flex;
}

.account-profile-pic {
    display: block;
    margin: 0 auto;
    width: 100px;
    max-width: 100%;
    border-right: 1px solid hsl(0,0%,88%);
}

.account-tag-name {
    display: flex;
    font-style: bold;
}
